.profile__about{
    margin: 16px 0 0 0;
    padding: 0;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    width: 95%;
    word-wrap: break-word;
}

@media screen and (max-width: 760px){
    .profile__about{
        margin-top: 10px;
    }
}

@media screen and (max-width: 550px){
    .profile__about{
        margin-top: 14px;
    }
}

@media screen and (max-width: 420px){
    .profile__about{
        font-size: 14px;
        line-height: 16.94px;
    }
}